---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content short">
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>Hi I'm Margaret! I teach yoga and qi gong in New York City.</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>This is what I teach.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
    <section class="more">
			<div class="container">
			<h2>My background.</h2>
      <p>I teach yoga and qi gong because I care about people. I care about bodies. I believe caring for ourselves and for each other is where the mundane and sacred meet.

      <p>I started practicing yoga in 2012 shortly after I moved to New York. As I passed through the worlds of academia, education, and nonprofits, my practice rooted and oriented me. When I found my way to qi gong in 2017, I knew exploring embodied consciousness would be the root of my life’s work.

      <p> In 2018, I started to teach. It has been an honor to work sharing the practices that have transformed my life. I can’t promise they will be transformative for you, but I hope you will explore their potential..</p>
      </div>
    </section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
