<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Email Me to Schedule a Class, Join my Mailing List, Learn More, or Say Hi. </h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		
		<section class="follow">
			<h2>Follow Me.</h2>
			<ul>
				<li><a title="spotify" href="https://open.spotify.com/user/areyoutheregoditsmemargaret?si=qrdVIDjHRna-RrRMKHvLFQ" target="_blank">spotify</a></li>
			</ul>
		</section>
	</div>
</footer>
