<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact Me.</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		
		<section class="follow">
			<h2>Follow Me.</h2>
			<ul>
				<li><a title="Spotify" href="https://open.spotify.com/user/areyoutheregoditsmemargaret?si=qrdVIDjHRna-RrRMKHvLFQ" target="_blank">Spotify</a></li>
				<li><a title="Instagram" href="{{ https://www.instagram.com/memargaret/ }}" target="_blank">Instagram</a></li>
			</ul>
		</section>
	</div>
</footer>
